<!-- <form action="/" method="post">
  <input type="text" name="username" placeholder="enter your twitter username">
  <textarea type="text" name="tweet" placeholder="enter your tweet"></textarea>
  <input type="submit" value="tweet!">
</form>

 -->
<h1> For the Cached Version </h1>
<form action="/" method="post">
  <input type="text" name="username" placeholder="enter your twitter username">
<!--   <textarea type="text" name="tweet" placeholder="enter your tweet"></textarea>
 -->  <input type="submit" value="tweet!">
</form>